.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #C8102E; 
  color: white;
  border: none;
  font-size: 24px; 
  font-weight: 300; 
  cursor: pointer;
 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease-in-out, background-color 0.3s;

}

.scroll-to-top-button:hover {
  background-color: #A00A20; 
  opacity: 0.7;
}

.scroll-to-top-button.show {
  opacity: 1; 
  visibility: visible; 
}
