.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.headerTop {
  color: #fff;
  background-color: #061A40;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
}

.headerTopContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.headerTopLeft,
.headerTopRight {
  display: flex;
  align-items: center;
}

.headerTopLeft > div,
.headerTopRight > div {
  margin-right: 20px;
  font-size: 0.875em;
  font-family: "Heebo", sans-serif;
}


.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #F0F0F0;
  color: #F0F0F0;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.socialIcons a:hover {
  background-color: #F0F0F0;
  color: #061A40;
}


.headerBottom {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  border-bottom: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: sticky;
  top: 0;
}

.headerBottom.scrolled {
  background-color: #fff;
  color: #061A40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerBottom.scrolled .navMenu a {
  color: #061A40;
}


.logo img {
  max-height: 76px;
  transition: 0.5s;
  width: 100%;
  height: auto;
  vertical-align: middle;
}


.navMenu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navMenu li {
  margin: 0 15px;
  position: relative;
}


.navMenu a {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  transition: color 0.5s;
}

.navMenu a:hover {
  color: #c10841;
  text-decoration: underline;
}


.dropdownMenu {
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #fff;
  color: #061A40;
  list-style: none;
  padding: 10px 0; 
  margin: 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000; /* Ensure the dropdown is above other content */
  width: 200px; /* Set a fixed width for the dropdown */
}

.dropdownMenu li {
  padding: 10px 15px;
}

.dropdownMenu li a {
  color: #061A40;
  text-decoration: none;
}

.dropdownMenu li a:hover {
  text-decoration: underline;
}

.navItem:hover .dropdownMenu {
  display: block;
}

.dropdownArrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdownArrow.open {
  transform: rotate(180deg);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .headerTopContent,
  .headerBottom {
    flex-direction: column;
    align-items: center;
  }

  .navMenu ul {
    flex-direction: column;
    align-items: center;
  }

  .navMenu li {
    margin: 10px 0;
  }

  .logo img {
    max-height: 60px;
  }
}
