.BannerImage {
    position: relative;
    background-image: url('../../../public/images/bannerpicture.jpg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.textContainer {
    position: relative;
    z-index: 2;
    text-align: center;
}

.textContainer h1 {
   
    color: #fff;
    font-size: 4em;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 15rem;
    margin-bottom: 1rem;
}

.textContainer p {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
}
